<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.badmintonsystem.mapper.ReservationMapper">

    <select id="findOverlappingReservations" resultType="com.example.badmintonsystem.entity.Reservation">
        SELECT *
        FROM t_reservation
        WHERE
            court_id = #{courtId}
          AND reservation_date = #{date}
          AND status != 2 -- 状态不为“已取消”的才算
            AND #{startTime} <![CDATA[ < ]]> end_time
          AND #{endTime} <![CDATA[ > ]]> start_time
    </select>

    <select id="findByUserId" resultType="com.example.badmintonsystem.entity.Reservation">
        SELECT *
        FROM t_reservation
        WHERE user_id = #{userId}
        ORDER BY reservation_date DESC, start_time DESC
    </select>

    <select id="findById" resultType="com.example.badmintonsystem.entity.Reservation">
        SELECT * FROM t_reservation WHERE id = #{id}
    </select>

    <update id="updateStatus">
        UPDATE t_reservation SET status = #{status} WHERE id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_reservation (user_id, court_id, reservation_date, start_time, end_time, total_cost, status, create_time, update_time)
        VALUES (#{userId}, #{courtId}, #{reservationDate}, #{startTime}, #{endTime}, #{totalCost}, 0, NOW(), NOW())
    </insert>

    <select id="findAll" resultType="com.example.badmintonsystem.entity.Reservation">
        SELECT *
        FROM t_reservation
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <update id="update">
        UPDATE t_reservation
        SET
            user_id = #{userId},
            court_id = #{courtId},
            reservation_date = #{reservationDate},
            start_time = #{startTime},
            end_time = #{endTime},
            total_cost = #{totalCost},
            status = #{status},
            update_time = NOW()
        WHERE
            id = #{id}
    </update>

</mapper>